*
!/assets
!/core
!/gevulot
!/gevulot2
!/prototype
!/reth-trie-risc0-zkvm
!/reth-trie-sp1-zkvm
!/risc0-ethereum-trie
!/zkvm
zkvm/risc0-methods/guest/Cargo.lock
zkvm/risc0-methods/guest/target
!/zkvm-common-host
!/zkvm-common-guest
!/Cargo.lock
!/Cargo.toml
!/rust-toolchain.toml
