[package]
name = "reth-proofs-zkvm-sp1-guest"
version = "0.1.0"
edition = "2024"

[dependencies]
sp1-zkvm = { version = "5.0.5", default-features = false }

# Reth Proofs
reth-proofs-core = { workspace = true }
reth-proofs = { workspace = true }
